.root {
  display: block;
  transition: background 0.15s ease;
  &:hover {
    background: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
    .bullet {
      border-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
    }
  }
  &:active {
    background: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    .bullet {
      border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    }
  }
}

.active {
  background: light-dark(var(--component-active-bg-color-light), var(--component-active-bg-color-dark));
  &:hover {
    background: light-dark(var(--component-active-hover-bg-color-light), var(--component-active-hover-bg-color-dark));
    .bullet {
      border-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
    }
  }
  &:active {
    background: light-dark(
      var(--component-active-pressed-bg-color-light),
      var(--component-active-pressed-bg-color-dark)
    );
    .bullet {
      border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    }
  }
}

.bullet {
  flex: 0 0 rem(16px);
  height: rem(16px);
  margin: rem(3px) 0 0 rem(-2px);
  background: var(--component-bullet-color);
  border: 2px solid light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-4));
  transition: border-color 0.15s ease;
  border-radius: 50%;
  z-index: 1;
}

.content {
  display: flex;
  gap: rem(16px);
}

.text {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-2));
}
