.items {
  position: relative;
}

.connector {
  background: var(--component-bg-color);
  position: absolute;
  top: rem(-8px);
  left: rem(24px);
  width: rem(2px);
  bottom: rem(20px);
  transform: scale3d(1, 0, 1);
  transform-origin: top;
  transition: transform 0.75s ease-out;
}

.connectorVisible {
  transform: scale3d(1, 1, 1);
}
