.root {
  aspect-ratio: 16 / 9;
  width: 100%;
  position: relative;
  border-radius: var(--mantine-radius-sm);
  overflow: hidden;
}
.image {
  object-fit: cover;
}

.flipVertical {
  transform: scaleX(-1);
}

.flipHorizontal {
  transform: scaleY(-1);
}

.attribution {
  position: absolute;
  bottom: rem(10px);
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.attributionText {
  padding: 0 var(--mantine-spacing-sm);
  background-color: rgba(0, 0, 0, 0.5);
  color: light-dark(white, var(--mantine-color-dark-0));
  font-size: var(--mantine-font-sizes-xs);
  line-height: 2;
  border-radius: var(--mantine-radius-sm);
  a {
    color: var(--mantine-colors-blue-3);
  }
}
