.root {
  max-width: rem(640px);
  margin: 0 auto;
}

.subtitle {
  margin: 1em 0 2em;
  font-weight: 500;
  color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-dark-1));
  @media (min-width: $mantine-breakpoint-xs) {
    font-size: rem(20px);
  }
  @media (min-width: $mantine-breakpoint-sm) {
    font-size: rem(24px);
  }
}

.features {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-lg);
  column-gap: calc(var(--mantine-spacing-lg) * 2);
  @media (min-width: $mantine-breakpoint-xs) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: calc(var(--mantine-spacing-lg) * 2);
  }
}
