.root {
  margin: 2em 0 0;
  @media (min-width: 600px) {
    gap: var(--mantine-spacing-xl);
    margin: 3em 0 1em;
  }
}

.button {
  width: 100%;
  @media (min-width: 420px) {
    width: calc(50% - var(--mantine-spacing-md) / 2);
  }
  @media (min-width: 600px) {
    width: auto;
  }
}

.buttonLabel {
  margin-top: rem(2px);
}

.examplesButton {
  @media (min-width: 420px) {
    width: 100%;
  }

  @media (min-width: 600px) {
    width: 'initial';
  }
}
