/* todo remove comments */
.root {
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  height: rem(164px); /* FOOTER_HEIGHT_BELOW_BREAKPOINT */
  background: light-dark(var(--mantine-color-gray-1) var(--mantine-color-dark-6));
  padding: var(--mantine-spacing-sm);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--mantine-spacing-xs);
  /* NAVBAR_BREAKPOINT */
  @media (min-width: $mantine-breakpoint-md) {
    margin-left: rem(300px); /* NAVBAR_WIDTH */
    &::before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      width: var(--mantine-spacing-sm);
      background: linear-gradient(to right, light-dark(rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0)),
        linear-gradient(to right, light-dark(rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0) 30%);
    }
  }

  /* FOOTER_BREAKPOINT */
  @media (min-width: 1200px) {
    height: rem(76px); /* FOOTER_HEIGHT_ABOVE_BREAKPOINT */
    flex-direction: row;
    justify-content: space-between;
  }
}
