/* todo remove comments */
.root {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: rem(56px); /* HEADER_HEIGHT */
  background: light-dark(
    linear-gradient(180deg rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.75)),
    linear-gradient(180deg rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.55))
  );
  backdrop-filter: blur(2px);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-2) var(--mantine-color-dark-5));
  justify-content: space-between;
  @media (min-width: $mantine-breakpoint-md) {
    margin-left: rem(300px); /* NAVBAR_WIDTH */
  }
  &::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: var(--mantine-spacing-md);
    bottom: calc(-1 * var(--mantine-spacing-sm) - 1px);
    background: linear-gradient(light-dark(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.3)), rgba(0, 0, 0, 0)),
      linear-gradient(light-dark(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.3)), rgba(0, 0, 0, 0) 30%);
    opacity: 0;
    transition: opacity 0.15s ease;
  }
}

.windowScrolledOnY::after {
  opacity: 1;
}

.menuIcon {
  color: light-dark(var(--mantine-color-gray-6) var(--mantine-color-dark-2));
  @media (min-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.logo {
  opacity: 1;
  transition: opacity 0.15s ease;
  @media (min-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.logoWithNavbarVisible {
  opacity: 0;
}

.actionIcons {
  @media (min-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.actionIcon {
  border: 1px solid light-dark(var(--mantine-color-gray-6) var(--mantine-color-dark-2));
  color: light-dark(var(--mantine-color-gray-6) var(--mantine-color-dark-2));
}

.actionIconRed {
  color: light-dark(var(--mantine-color-red-6) var(--mantine-color-red-8));
}

.buttons {
  display: none;
  @media (min-width: $mantine-breakpoint-md) {
    display: inherit;
  }
}

.button {
  border: 1px solid light-dark(var(--mantine-color-gray-3) var(--mantine-color-dark-4));
  padding-right: var(--mantine-spacing-xs);
}

.buttonIcon {
  margin-right: rem(8px);
}

.buttonIconSponsor {
  transform-origin: center bottom;
  margin-right: rem(6px);
  color: light-dark(var(--mantine-color-red-6) var(--mantine-color-red-8));
  animation: beat 3s ease-in-out infinite;
}

.buttonLabel {
  margin-bottom: rem(-2px);
}

.colorSchemeSegmentedControlContainer {
  display: none;
  @media (min-width: $mantine-breakpoint-md) {
    display: inherit;
  }
}

.colorSchemeSegmentedControl {
  border: 1px solid light-dark(var(--mantine-color-gray-3) var(--mantine-color-dark-4));
}

@keyframes beat {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  7% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  14% {
    transform: scale(1);
    opacity: 1;
  }
  21% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    opacity: 1;
  }
}
