/* todo remove comments */
.main {
  position: relative;
  background: light-dark(var(--component-bg-color-light), var(--component-bg-color-dark));
  border-bottom: 1px solid light-dark(var(--mantine-colors-gray-2) var(--mantine-colors-dark-5));
  margin-top: rem(56px); /* HEADER_HEIGHT */
  margin-bottom: rem(164px); /* FOOTER_HEIGHT_BELOW_BREAKPOINT */
  /* min-height: calc(100vh - ${HEADER_HEIGHT}px - ${FOOTER_HEIGHT_BELOW_BREAKPOINT}px); */
  min-height: calc(100vh - rem(56px) - rem(164px));
  padding: var(--mantine-spacing-lg) 0;
  &::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: var(--mantine-spacing-sm);
    bottom: calc(var(--mantine-spacing-sm - 1px));
    background: light-dark(var(--component-after-bg-color-light), var(--component-after-bg-color-dark));
  }
  /* [`@media (min-width: ${theme.breakpoints[NAVBAR_BREAKPOINT]})`]: { */
  @media (min-width: $mantine-breakpoint-md) {
    /* marginLeft: NAVBAR_WIDTH, */
    margin-left: rem(300px);
  }
  /* [`@media (min-width: ${FOOTER_BREAKPOINT}px)`]: { */
  @media (min-width: 1200px) {
    /* marginBottom: FOOTER_HEIGHT_ABOVE_BREAKPOINT, */
    marginbottom: rem(76px);
    /* minHeight: `calc(100vh - ${HEADER_HEIGHT}px - ${FOOTER_HEIGHT_ABOVE_BREAKPOINT}px)`, */
    minheight: calc(100vh - rem(56px) - rem(76px));
  }
}
