.root {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}

.iconInsideHeader {
  @media (min-width: 340px) {
    display: none;
  }
  @media (min-width: 380px) {
    display: inherit;
  }
}

.title {
  font:
    24px/1 BenchNine,
    sans-serif;
  margin: 0 0 rem(-3px);
}

.titleInsideHeader {
  display: none;
  @media (min-width: 340px) {
    display: block;
  }
}

.version {
  font-size: rem(11px);
  line-height: 1;
  padding: rem(4px) rem(4px) 0;
  margin: rem(-8px) 0 0 rem(-4px);
}

.versionInsideHeader {
  display: none;
  @media (min-width: 440px) {
    display: inherit;
  }
}
