.root {
  text-indent: -0.1em;
  margin-bottom: 0.5em;
  color: light-dark(var(--mantine-color-gray-8) var(--mantine-color-dark-0));
  font-size: rem(28px);
  @media (min-width: 300px) {
    fontsize: rem(32px);
  }
  @media (min-width: 360px) {
    fontsize: rem(38px);
  }
  @media (min-width: 420px) {
    fontsize: rem(46px);
  }
  @media (min-width: $mantine-breakpoint-xs) {
    margin-top: 0.5em;
    line-height: 1.15;
    font-size: rem(52px);
  }
  @media (min-width: $mantine-breakpoint-sm) {
    fontsize: rem(64px);
  }
  @media (min-width: $mantine-breakpoint-md) {
    margin-top: 0.66em;
  }
}

.gradientText {
  background: linear-gradient(45deg, var(--mantine-color-blue-6), var(--mantine-color-cyan-6));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: context-menu;
}

.contextMenuIcon {
  margin-top: rem(-2px);
}

.mantineDataTableContextMenuIcon {
  margin-left: rem(1px);
  margin-right: rem(1px);
}
