.root {
  margin-bottom: 2em;
}

.paragraph {
  margin-left: 1.5em;
  text-indent: -1.5em;
}

.startIcon {
  vertical-align: rem(-4px);
}

.checkIcon {
  color: var(--mantine-color-blue-6);
}

.exclamationIcon {
  color: var(--mantine-color-red-6);
}

.link:hover {
  text-decoration: none;
  border-bottom: 1px solid light-dark(var(--mantine-color-blue-5), var(--mantine-color-blue-7));
}

.linkIcon {
  vertical-align: rem(-2px);
}
