.contextMenuRoot {
  border: 1px solid var(--mantine-color-red-6);
}

.contextMenuItem {
  background: light-dark(var(--mantine-color-red-2), var(--mantine-color-red-9));
  &:hover {
    background: light-dark(var(--mantine-color-red-3), var(--mantine-color-red-8));
  }
}
