.root {
  font-size: 0;
  overflow: hidden;
  border-radius: var(--mantine-radius-sm);
  border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  position: relative;
  transition: filter 0.5s;
  filter: sepia(0) grayscale(0);
  cursor: context-menu;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.sepia {
  filter: sepia(1) grayscale(0);
}

.grayscale {
  filter: sepia(0) grayscale(1);
}

.rightShadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: rem(10px);
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
}
